/* layout, colors, and styling tweaks */
html{
  width: 450px;
  height: 450px;
  /* overflow: hidden; */
  background-image: linear-gradient(37deg,#045f9b, #0879d5);
  background-repeat:no-repeat;
}

body {
  width: 428px;
  height: 94%;
  padding: 3px;  
  overflow: hidden;
}

/* module */
.module {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.module div {
  padding: 2em 5em;
  background: white;
  border-radius: 5px;
  box-shadow: 2px 2px 9px 1px #393939;
}
.module div button.btn {
  border-radius: 0.2em;
  box-shadow: 1px 1px 4px 0 #000000b3;
  outline: none;
  border: none;
  cursor: pointer;
}
.module div button.start {
  background: #0bb50b;
  padding: 0.5em 1.2em;
  font-size: 1.3em;
  color: white;
}
/* grid */
.playArea {
  display: grid;
  grid-template-rows: 20% 20% 20% 20% 20%;
  grid-template-columns: 20% 20% 20% 20% 20%;
  grid-template-areas: 
  "p2Sets p2Sets  p2Hand    p4Sets  p4Sets"
  "p2Sets p2Sets  .         p4Sets  p4Sets"
  "p3Hand .       drawPile  .       p4Hand"
  "p3Sets p3Sets  .         p1Sets  p1Sets"
  "p1Hand p1Hand  p1Hand    p1Sets  p1Sets"
  ;
}
/* grid areas and their special styling */
#p1Sets {
  grid-area: p1Sets;
}
#p1Hand {
  grid-area: p1Hand;
}
#p2Hand {
  grid-area: p2Hand;
}
#p2Sets {
  grid-area: p2Sets;
}
#p3Hand {
  grid-area: p3Hand;
}
#p3Sets {
  grid-area: p3Sets;
}
#p4Hand {
  grid-area: p4Hand;
}
#p4Sets {
  grid-area: p4Sets;
}
#drawPile {
  grid-area: drawPile;
}
/* rotating and flipping */
#p2Hand.playingCards .hand,
#p2Sets.playingCards .hand.set {
  transform: rotate(180deg);
}
#p3Hand.playingCards .hand,
#p3Sets.playingCards .hand.set {
  transform: rotate(90deg);
}
#p4Hand.playingCards .hand,
#p4Sets.playingCards .hand.set {
  transform: rotate(-90deg);
}
/* play hand positioning */
#p2Hand,
#p1Hand,
#drawPile {
  display: flex;
  justify-content: space-around;
  margin: auto 0;
}
#p1Hand.playingCards .hand  {
  bottom: 35px;
}
#p2Hand.playingCards .hand {
  position: relative;
  top: 20px;
  left: 75%;
}
#p3Hand.playingCards .hand {
  position: relative;
  bottom: 59%;
  left: 40%;
}
#p4Hand.playingCards .hand {
  position: relative;
  bottom: -7%;
  right: 40%;
}

.playingCards ul.hand {
  margin-bottom: 0 !important;
}
/* set positioning */
.playingCards .hand.set {
  height: 3.4em;
}
#p1Sets,
#p2Sets,
#p3Sets,
#p4Sets {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}
#p1Sets {
  grid-template-areas:
  "set7 set5 set6"
  ".    set4 set2"
  ".    set3 set1"
  ;
}
#p2Sets {
  grid-template-areas:
  "set5 set2 set1"
  "set6 set4 set3"
  ".    set8 set7"
  ;
}
#p3Sets {
  grid-template-areas:
  "set1 set2 set4"
  "set3 .    .   "
  "set5 .    .   "
  ;
}
#p4Sets {
  grid-template-areas:
  "set9 set6 set5"
  "set8 set4 set3"
  "set7 set2 set1"
  ;
}
#drawPile.playingCards ul.dexk {
  position: relative;
  bottom: 2em;
  right: 2.2em;
}
/* setting up the grid areas */
.playingCards .hand.set:nth-child(1) {grid-area: set1;}
.playingCards .hand.set:nth-child(2) {grid-area: set2;}
.playingCards .hand.set:nth-child(3) {grid-area: set3;}
.playingCards .hand.set:nth-child(4) {grid-area: set4;}
.playingCards .hand.set:nth-child(5) {grid-area: set5;}
.playingCards .hand.set:nth-child(6) {grid-area: set6;}
.playingCards .hand.set:nth-child(7) {grid-area: set7;}
.playingCards .hand.set:nth-child(8) {grid-area: set8;}
.playingCards .hand.set:nth-child(9) {grid-area: set9;}